/** SIMPLE CSS RESET **/

html {
  /* Include padding and border in size calculation */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  /** Inherit from parent (html) **/
  box-sizing: inherit;
}

body {
  /* add accessible line-height */
  /* line-height: 1.5; */
  /* Native margin from browser removed */
  margin: 0;
  /** Ensure that the body fill the en entiere view port (vh dynamic better for mobile) **/
  min-height: 100dvh;
  /** Smooth font rendering **/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Improve media defaults */
@layer base {
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
  }
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /** Balance heading across multiple lines into an even block **/
  text-wrap: balance;
}

p {
  /** Prevent text orphans (single word on last line) **/
  text-wrap: pretty;
}

button {
  /* Cursor pointer by default */
  cursor: pointer;
}

a {
  /* Better control over links */
  display: inline-block;
}

input,
button,
textarea,
select {
  /** Inherit all the fonts caracteristics from his parent, prevent having default font-family, size, weight... from browser **/
  font: inherit;
}

textarea {
	field-sizing: content;
	/* // fallback */
	min-height: calc(1.5rem * 4);
	/* // height at least 4 lines */
	min-height: 4lh;
}

dialog:modal {
  /** Modal has a default max width/height smaller than the page... fix it **/
  max-width: 100vw;
  max-height: 100dvh;
}

@layer base {
  * {
    /* Prevent grid and flex items from spilling out of their container */
    min-width: 0;
  }
}