@import "./_tailwind.css";
@import "./_reset.css";

body {
  color: hsl(var(--foreground));
}

h1 {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

h2,
h3,
p {
  color: hsl(var(--dark));
}

/* .perfect-shadow {
	--base: hsl(var(--tint, 344) 100% 64% / calc(var(--alpha, 60) * 1%));
	--shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
	--perfect-shadow:
		0 0 0 2px var(--base),
		0 1px 1px -0.5px var(--shade),
		0 3px 3px -1.5px var(--shade),
		0 6px 6px -3px var(--shade),
		0 12px 12px -6px var(--base),
		0 24px 24px -12px var(--base);

	box-shadow: var(--perfect-shadow);
} */
