---
import Layout from "@/layouts/layout.astro";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
import type { Event } from "@/types/event";
import { Image } from "astro:assets";

const EVENT_QUERY = `*[_type == "agenda"] | order(position asc) {
	"image": image.asset->url
}`;
const events = await sanityClient.fetch<SanityDocument<Event[]>>(EVENT_QUERY);
---

<Layout overflow>
	<main class="bg-stone-50 py-16 px-4 md:py-24">
		<section class="container mx-auto max-w-6xl space-y-12">
			<div class="mb-12 max-w-2xl mx-auto">
				<div class="flex justify-start items-center gap-3 mb-6">
					<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
					<h1 class="text-xl text-primary font-normal">Nos évènements</h1>
				</div>
				<h2 class="text-3xl font-serif text-stone-800 leading-tight">Qu'est-ce qui se passe ?</h2>
				<p class="text-lg text-left text-stone-600 leading-relaxed my-6">
					Mardi culture, Mercredi musical, Jeux-di... Le bar est ouvert le soir en semaine et nous espérons
					remplir ces soirées d'activités amusantes et sociales pour tous les âges et nous avons besoin de
					vos suggestions et de vos compétences pour y parvenir ! Écrivez-nous un courriel, appelez-nous ou
					venez nous parler sur place de ce que vous aimeriez vivre, organiser ou réaliser chez Mauvaise
					Herbe. <a
						class="text-primary underline underline-offset-2"
						title="Lien vers la page contact"
						href="/contact">Contactez-nous !</a
					>

					<br />
					<br />
					Ci-dessous, nous publions toutes les dernières infos, du programme mensuel aux menus spéciaux ainsi
					que notre newsletter.
				</p>
			</div>
		</section>

		<article class="container mx-auto max-w-6xl space-y-4">
			{events.map((event) => (
				<div class="flex flex-col items-center justify-center">
					<Image
						width={1000}
						height={1200}
						src={event.image}
						alt={"Photo de l'évènement"}
					/>
				</div>
			))}
		</article>
	</main>
</Layout>
