---
import Layout from "@/layouts/layout.astro";
import { VeganIcon } from "lucide-react";
import PlanteImg from "@/assets/images/plante.webp";
import { Image } from "astro:assets";
import { TabsMenu } from "@/components/tabs-menu";
import AnimatedLink from "@/components/animated-link";
import Footer from "@/layouts/footer.astro";

const entries = [
	{
		name: "entries",
		content: [
			{
				image: "/images/entries/1.jpg",
				name: "Entrée 1",
				description: "Description de l'entrée 1",
				price: 10,
				allergens: true,
			},
			{
				image: "/images/entries/2.jpg",
				name: "Entrée 2",
				description: "Description de l'entrée 2",
				price: 10,
				allergens: false,
			},
			{
				image: "/images/entries/3.jpg",
				name: "Entrée 3",
				description: "Description de l'entrée 3",
				allergens: true,
				price: 10,
			},
			{
				image: "/images/entries/4.jpg",
				name: "Entrée 4",
				description: "Description de l'entrée 4",
				price: 10,
				allergens: false,
			},
		],
	},
	{
		name: "plates",
		content: [
			{
				image: "/images/entries/1.jpg",
				name: "Plat 1",
				description: "Description de l'entrée 1",
				price: 10,
				allergens: true,
			},
			{
				image: "/images/entries/2.jpg",
				name: "Plat 2",
				description: "Description de l'entrée 2",
				price: 10,
				allergens: false,
			},
			{
				image: "/images/entries/3.jpg",
				name: "Plat 3",
				description: "Description de l'entrée 3",
				allergens: true,
				price: 10,
			},
			{
				image: "/images/entries/4.jpg",
				name: "Entrée 4",
				description: "Description de l'entrée 4",
				price: 10,
				allergens: false,
			},
		],
	},
	{
		name: "desserts",
		content: [
			{
				image: "/images/entries/1.jpg",
				name: "Dessert 1",
				description: "Description de l'entrée 1",
				price: 10,
				allergens: true,
			},
			{
				image: "/images/entries/2.jpg",
				name: "Dessert 2",
				description: "Description de l'entrée 2",
				price: 10,
				allergens: false,
			},
			{
				image: "/images/entries/3.jpg",
				name: "Dessert 3",
				description: "Description de l'entrée 3",
				allergens: true,
				price: 10,
			},
			{
				image: "/images/entries/4.jpg",
				name: "Dessert 4",
				description: "Description de l'entrée 4",
				price: 10,
				allergens: false,
			},
		],
	},
];
---

<Layout overflow>
	<header class="grid place-items-center relative h-1/3">
		<Image src={PlanteImg} alt="Plante" class="absolute top-0 left-0 w-full h-full object-cover z-0" />

		<div class="relative z-10">
			<h1 class="mb-2 text-primary">La carte</h1>
			<div class="flex items-center justify-center gap-2">
				<VeganIcon width={24} height={24} className="text-green-700" />
				<span class="text-xl">Notre menu</span>
			</div>
		</div>
	</header>

	<main class="relative">
		<TabsMenu client:load titles={[{label: "Entrées", name: "entries"}, {label: "Plats", name: "plates"}, {label: "Desserts", name: "desserts"}]} entries={entries} />

		<div class="sticky bottom-6 w-full flex justify-end p-6">
			<AnimatedLink
				client:load
				title="Redirection à la page de réservation du restaurant"
				href="/reservation"
				className="bg-green-700/90"
			>
				Réserver une table
			</AnimatedLink>
		</div>
	</main>

	<Footer />
</Layout>
