---
import Layout from "@/layouts/layout.astro";
import { VeganIcon } from "lucide-react";
import PlanteImg from "@/assets/images/plante.webp";
import { Image } from "astro:assets";
import { TabsMenu } from "@/components/tabs-menu";
import AnimatedLink from "@/components/animated-link";
import Footer from "@/layouts/footer.astro";
---

<Layout overflow>
	<header class="grid place-items-center relative h-1/3">
		<Image src={PlanteImg} alt="Plante" class="absolute top-0 left-0 w-full h-full object-cover z-0" />

		<div class="relative z-10">
			<h1 class="mb-2 text-primary">La carte</h1>
			<div class="flex items-center justify-center gap-2">
				<VeganIcon width={24} height={24} className="text-green-700" />
				<span class="text-xl">Notre menu</span>
			</div>
		</div>
	</header>

	<main class="relative">
		<TabsMenu client:load />

		<div class="sticky bottom-6 w-full flex justify-end p-6">
			<AnimatedLink
				client:load
				title="Redirection à la page de réservation du restaurant"
				href="/reservation"
				className="bg-green-700/90"
			>
				Réserver une table
			</AnimatedLink>
		</div>
	</main>

	<Footer />
</Layout>
