---
import Layout from "@/layouts/layout.astro";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import type { Wine } from "@/types/wine";
import { Image } from "astro:assets";
import CaveImg from "@/assets/images/cave.webp";
import TableLargeImg from "@/assets/images/table_large.webp";

const WINE_QUERY = `*[_type == "wine"] | order(position asc) {
	"image": image.asset->url
}`;
const wines = await sanityClient.fetch<SanityDocument<Wine[]>>(WINE_QUERY);
---

<Layout overflow title="Cave">
	<main class="bg-stone-50 py-16 px-4 md:py-24">
		<section class="container mx-auto max-w-6xl space-y-12">
			<div class="mb-12 max-w-2xl mx-auto">
				<div class="flex justify-start items-center gap-3 mb-6">
					<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
					<h1 class="text-xl text-primary font-normal">Notre cave</h1>
				</div>
				<h2 class="text-3xl font-serif text-stone-800 leading-tight">Une cave nature et bio</h2>
				<p class="text-lg text-left text-stone-600 leading-relaxed my-6">
					Notre sommelier a rempli notre cave à vin avec plus de 100 références, venant du gaillacois, des
					quatre coins de la France mais aussi avec une sélection de vins étrangers. Tous nos vins sont
					certifiés bios et la plupart sont naturels. Nous privilégions évidement les domaines à taille
					humaine, avec plusieurs petites exploitations, et aussi avec une philosophie tournée autour du
					respect de son terroir et de son environnement.

					<br />
					<br />
					La gamme quant à elle est sans cesse renouvelée afin de vous proposer toujours de nouvelles découvertes.
					Vous trouverez ci-dessous notre dernière liste de boissons. <br /><br />
					<span class="font-bold"
						>Tous nos vins, ainsi que boissons sans alcool et spiritueux, sont disponibles à l'achat caviste,
						avec une remise de 20% par rapport au prix sur table.</span
					>
					<br />
					<br />
					<span>Alors tchin !</span>
				</p>
			</div>

			<div class="flex flex-col md:flex-row gap-10 ">
				<Image src={TableLargeImg} alt="Carte des boissons" width={1200} height={1000} />
				<Image src={CaveImg} alt="Caveà vin" class="max-w-20 object-cover mx-auto" width={600} height={1200} />
			</div>
		</section>

		<section class="container mx-auto max-w-6xl space-y-12 mt-18">
			<div class="mb-12 max-w-2xl mx-auto">
				<div class="flex justify-start items-center gap-3 mb-6">
					<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
					<h2 class="text-xl text-primary font-normal uppercase">Notre carte des boissons</h2>
				</div>
				<p class="text-lg text-left text-stone-600 leading-relaxed my-6">
					<!-- TODO -->
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi excepturi ratione voluptates accusamus adipisci esse assumenda exercitationem harum. Iusto tempore inventore commodi, distinctio saepe culpa. Quam molestiae accusamus sunt natus.
				</p>
			</div>
		</section>

		<article class="container mx-auto max-w-6xl space-y-4">
			{
				wines.map((wine) => (
					<div class="flex flex-col items-center justify-center">
						<Image width={1000} height={1200} src={wine.image} alt={"Photo de l'évènement"} />
					</div>
				))
			}
		</article>
	</main>
</Layout>
