---
import Layout from "@/layouts/layout.astro";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import type { Wine } from "@/types/wine";
import { Image } from "astro:assets";
import CaveImg from "@/assets/images/cave.webp";
import TableLargeImg from "@/assets/images/table_large.webp";

const WINE_QUERY = `*[_type == "wine"] | order(position asc) {
	"image": image.asset->url
}`;
const wines = await sanityClient.fetch<SanityDocument<Wine[]>>(WINE_QUERY);
---

<Layout overflow title="Cave">
	<main id="caviste" class="bg-stone-50 py-16 px-4 md:py-24">
		<section class="container mx-auto max-w-6xl space-y-12">
			<div class="mb-12 max-w-2xl mx-auto">
				<div class="flex justify-start items-center gap-3 mb-6">
					<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
					<h1 class="text-xl text-primary font-normal">Notre cave</h1>
				</div>
				<h2 class="text-3xl font-serif text-stone-800 leading-tight">Une cave nature et bio</h2>
				<p class="text-lg text-left text-stone-600 leading-relaxed my-6">
					Notre sommelier a rempli notre cave à vin avec plus de 100 références, venant du gaillacois, des
					quatre coins de la France mais aussi avec une sélection de vins étrangers. Tous nos vins sont
					certifiés bios et la plupart sont naturels. Nous privilégions évidement les domaines à taille
					humaine, avec plusieurs petites exploitations, et aussi avec une philosophie tournée autour du
					respect de son terroir et de son environnement.
				</p>
				<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
			</div>

			<div class="flex flex-col md:flex-row gap-10">
				<Image src={TableLargeImg} alt="Carte des boissons" width={1200} height={1000} />
				<Image
					src={CaveImg}
					alt="Caveà vin"
					class="max-w-20 object-cover mx-auto"
					width={600}
					height={1200}
				/>
			</div>
		</section>

		<section class="container mx-auto max-w-6xl space-y-12 mt-18">
			<div class="mb-12 max-w-2xl mx-auto">
				<div class="flex justify-start items-center gap-3 mb-6">
					<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
					<h2 class="text-xl text-primary font-normal uppercase">Notre carte des boissons</h2>
				</div>
				<h3 class="text-3xl font-serif text-stone-800 leading-tight">En recherche constante</h3>
				<p class="text-lg text-left text-stone-600 leading-relaxed my-6">
					La gamme quant à elle est sans cesse renouvelée afin de vous proposer toujours de nouvelles
					découvertes. Vous trouverez ci-dessous notre dernière liste de boissons. <br /><br />
					<span class="font-bold"
						>Tous nos vins, ainsi que boissons sans alcool et spiritueux, sont disponibles à l'achat caviste,
						avec une remise de 20% par rapport au prix sur table.</span
					>
					<br />
					<br />
					<span>Alors tchin !</span>
					<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
				</p>
			</div>
		</section>

		<article class="container mx-auto max-w-6xl space-y-4">
			{
				wines.map((wine) => (
					<div class="flex flex-col items-center justify-center">
						<Image width={1000} height={1200} src={wine.image} alt={"Photo de l'évènement"} />
					</div>
				))
			}
		</article>
	</main>
</Layout>

<style>
	#caviste {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' fill-opacity='0.065' width='75px' height='75px' viewBox='0 0 4000 1000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,1542.000000) scale(0.100000,-0.100000)' fill='%23E1532D' stroke='none'%3E%3Cpath d='M4030 15344 c-651 -42 -1180 -252 -1796 -711 -373 -278 -749 -647 -1025 -1003 -560 -724 -914 -1542 -1058 -2445 -72 -455 -79 -979 -20 -1450 72 -565 203 -982 406 -1289 85 -130 300 -346 428 -433 182 -122 386 -206 583 -239 149 -24 397 -15 542 19 222 53 409 136 645 285 l140 89 6 -496 c10 -770 49 -1388 134 -2161 40 -356 145 -1159 161 -1230 l6 -25 -27 25 c-15 14 -59 68 -98 120 -363 486 -770 907 -1270 1313 -175 141 -394 302 -454 332 -74 38 -164 45 -209 17 -88 -55 -107 -280 -36 -420 43 -85 640 -981 764 -1147 161 -217 298 -376 473 -550 282 -283 539 -480 873 -669 138 -78 161 -102 186 -189 19 -66 274 -1071 495 -1948 114 -450 171 -695 171 -730 1 -123 122 -309 234 -360 28 -13 50 -4 26 11 -20 12 82 390 217 805 210 643 313 1039 383 1466 44 272 60 446 67 719 7 315 -6 518 -93 1405 -25 253 -49 518 -55 590 -5 71 -15 147 -21 168 -29 97 -177 138 -257 71 -16 -13 -38 -44 -50 -69 -22 -47 -233 -867 -320 -1245 -81 -352 -108 -493 -186 -959 -41 -244 -76 -445 -78 -448 -3 -2 -9 22 -15 54 -6 32 -33 182 -61 333 -248 1357 -402 2629 -466 3862 -20 387 -38 1201 -29 1369 l6 137 147 6 c681 31 1092 123 1501 337 231 121 424 264 621 462 401 402 705 887 943 1506 159 414 195 614 203 1136 10 608 -27 991 -134 1410 -145 567 -421 1070 -809 1475 -374 389 -846 626 -1354 679 -111 12 -361 20 -440 15z m505 -394 c510 -102 940 -417 1330 -975 386 -552 603 -1183 656 -1915 45 -618 -104 -1180 -511 -1927 -183 -336 -300 -495 -539 -733 -225 -224 -403 -354 -636 -466 -280 -135 -634 -210 -945 -202 l-115 3 240 122 c429 219 747 444 1106 783 356 336 560 713 683 1262 112 498 126 1017 40 1488 -60 330 -187 704 -337 995 -131 252 -260 428 -444 605 -141 136 -264 223 -443 313 -163 82 -313 135 -499 174 -116 25 -145 27 -356 27 -253 1 -329 -10 -527 -74 -278 -91 -746 -374 -1088 -660 -748 -623 -1245 -1495 -1454 -2550 -56 -281 -68 -398 -73 -697 -6 -287 2 -413 38 -628 53 -315 150 -619 282 -881 186 -370 479 -597 904 -705 90 -23 139 -29 222 -30 l106 0 -62 -24 c-34 -14 -109 -34 -165 -46 -131 -27 -338 -23 -460 9 -381 101 -681 405 -853 867 -51 137 -108 365 -144 585 -192 1151 -30 2167 494 3095 201 356 465 702 790 1034 412 421 757 688 1118 865 274 134 468 202 740 257 231 47 356 58 587 55 162 -3 228 -8 315 -26z m-503 -625 c412 -54 791 -246 1036 -524 288 -326 469 -689 596 -1196 87 -349 119 -591 120 -905 0 -242 -12 -378 -50 -590 -76 -411 -201 -756 -355 -975 -80 -113 -292 -326 -426 -428 -57 -43 -103 -75 -103 -71 0 4 26 48 59 98 237 368 384 760 452 1206 21 138 24 189 24 470 0 327 -7 409 -56 700 -24 140 -77 345 -119 460 -77 213 -225 472 -365 641 -455 545 -1051 713 -1730 487 -223 -74 -426 -183 -600 -323 -445 -357 -817 -836 -1060 -1365 -193 -420 -338 -922 -401 -1385 -27 -197 -24 -554 5 -745 66 -435 220 -832 420 -1082 68 -87 206 -219 279 -268 56 -38 65 -51 30 -43 -170 38 -332 137 -489 300 -133 138 -205 258 -295 489 -154 401 -223 842 -211 1364 6 280 26 462 78 715 246 1201 1035 2226 2137 2775 247 123 366 164 557 194 119 18 334 19 467 1z m-107 -888 c381 -97 660 -336 884 -757 157 -297 250 -591 287 -906 20 -166 14 -484 -10 -637 -83 -519 -294 -1009 -596 -1382 -71 -89 -275 -295 -290 -295 -27 0 -19 34 19 83 296 371 451 738 533 1257 20 127 22 183 23 445 0 270 -3 313 -23 428 -115 636 -419 1132 -810 1318 -374 179 -833 100 -1258 -217 -419 -312 -698 -752 -839 -1324 -120 -489 -154 -1057 -89 -1485 64 -420 252 -779 586 -1121 66 -67 68 -72 46 -77 -109 -30 -301 29 -444 136 -162 120 -349 408 -443 683 -46 134 -88 311 -113 469 -31 201 -31 557 1 765 61 407 198 814 427 1273 141 282 283 484 489 696 308 317 664 551 960 632 147 40 221 48 395 45 135 -3 183 -9 265 -29z m-185 -604 c255 -51 473 -228 624 -506 127 -235 239 -594 277 -892 15 -117 15 -405 0 -520 -52 -395 -213 -787 -470 -1137 -31 -43 -59 -77 -62 -78 -4 0 13 62 38 137 76 236 126 457 159 698 25 182 25 610 0 780 -113 780 -524 1201 -1146 1172 -226 -10 -364 -78 -568 -280 -318 -313 -507 -722 -579 -1252 -14 -106 -18 -205 -18 -537 0 -224 -3 -404 -7 -400 -3 4 -15 54 -27 112 -84 437 -75 864 29 1276 136 535 423 965 815 1220 299 194 634 268 935 207z m-419 -663 c119 -23 276 -121 371 -232 182 -213 268 -470 287 -859 18 -367 -26 -699 -133 -1016 -36 -106 -116 -296 -122 -290 -2 2 5 44 15 93 45 204 55 318 55 594 0 296 -15 444 -64 635 -68 263 -175 432 -319 502 -49 25 -68 28 -151 28 -88 0 -101 -3 -163 -33 -215 -106 -442 -460 -511 -793 -32 -159 -39 -251 -33 -479 4 -160 12 -256 26 -330 43 -232 109 -444 206 -664 37 -84 54 -133 50 -147 -4 -11 -10 -19 -15 -17 -5 2 -39 39 -75 83 -261 311 -402 734 -422 1270 -14 391 59 760 212 1067 218 438 493 643 786 588z m-1621 -6866 c300 -239 578 -531 911 -959 183 -234 371 -486 367 -490 -2 -2 -67 44 -143 102 -386 294 -671 572 -916 898 -133 177 -347 525 -322 525 4 0 51 -34 103 -76z m2944 -1035 c157 -1017 68 -1936 -281 -2886 -41 -112 -63 -149 -63 -107 0 8 -7 102 -17 207 -20 233 -22 817 -5 1047 45 582 128 1106 272 1733 48 206 51 216 60 191 5 -12 20 -95 34 -185z'/%3E%3C/g%3E%3C/svg%3E");
	}
</style>
