---
import Layout from "@/layouts/layout.astro";
import PresentationHistory from "@/components/presentation-history.astro";
import PresentationConcept from "@/components/presentation-concept.astro";
---

<Layout overflow title="Concept">
	<main>
		<PresentationConcept />
		<!-- <PresentationHistory /> -->
	</main>
</Layout>
