---
import Layout from "@/layouts/layout.astro";
import PresentationPassion from "@/components/presentation-passion.astro";
import PresentationPersonnel from "@/components/presentation-personnel.astro";
---

<Layout overflow title="Cuisine">
	<main>
		<PresentationPassion />
		<PresentationPersonnel />
	</main>
</Layout>
