---
import Layout from "@/layouts/layout.astro";
import PresentationHistory from "@/components/presentation-history.astro";
import PresentationPassion from "@/components/presentation-passion.astro";
import PresentationPersonnel from "@/components/presentation-personnel.astro";
---

<Layout overflow>
	<main>
		<PresentationHistory />
		<PresentationPassion />
		<PresentationPersonnel />
	</main>
</Layout>
