---
import Layout from "@/layouts/layout.astro";
---

<Layout overflow={false} header={false} footer={false}>
	<main class="flex flex-col items-center justify-center h-dvh bg-stone-50 py-16 px-4 md:py-24 text-center">
		<h1 class="text-4xl font-serif text-stone-800 mb-2">Merci pour votre réservation !</h1>
		<p class="text-lg text-stone-600 max-w-2xl mx-auto mb-4">
			Nous vous attendons avec impatience.
		</p>
		<a href="/" class="text-primary hover:text-primary/80">Retour à la page d'accueil</a>
	</main>
</Layout>
