---
import { Image } from "astro:assets";
import TablesImg from "@/assets/images/tables.webp";
import Tables2Img from "@/assets/images/tables_2.webp";
import { motion } from "framer-motion";
---

<section 
	class="bg-stone-50 py-10 px-4 md:py-16" 
	id="concept" 
	aria-labelledby="concept-title"
>
	<div class="container mx-auto max-w-6xl">
		<div class="grid gap-10 md:grid-cols-2 items-center">
			<!-- Text Content -->
			<div class="space-y-6">
				<div class="space-y-4">
					<div class="flex items-center gap-3">
						<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
						<span class="text-sm font-medium uppercase tracking-wider text-primary"> Notre concept </span>
					</div>
					<h2 id="concept-title" class="text-3xl font-serif text-stone-800 leading-tight">Pourquoi Mauvaise Herbe ?</h2>
				</div>
				<p class="text-lg text-stone-600 leading-relaxed">
					Une mauvaise herbe peut être tellement de choses différentes, ça n’est qu’une question de point de
					vue. La ronce n’est plus mauvaise avec des mûres dessus. Il existe dans nos jardins et nos forêts
					d'innombrables plantes considérées comme des « mauvaises herbes » qui sont non seulement
					comestibles, mais aussi délicieuses. On ne devrait jamais dire qu’une chose ou qu’une personne est
					mauvaise, alors qu’on ne la connait pas.
					<br />
					<br />
					Avec de la connaissance et du temps (et de longues promenades !), nous pouvons élargir nos horizons et
					être récompensés par de nouvelles expériences pour tous les sens. Notre restaurant s'appelle Mauvaise
					Herbe parce que nous voulons souligner l'importance de profiter de la richesse des saveurs et des ressources
					que nous offre la nature, et de voir parfois le monde sous une perspective différente.
				</p>
				<div class="flex flex-col gap-4 text-stone-700">
					<div class="flex items-center gap-3">
						<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
						<span>Garanti 100% Mauvaise Herbe 😊</span>
					</div>
				</div>
			</div>

			<div class="flex flex-col gap-10">
				<motion.div
					client:load
					initial={{ opacity: 0, x: 50 }}
					animate={{ opacity: 1, x: 0 }}
					transition={{ duration: 0.5 }}
					className="w-full md:w-[90%] h-72  md:ml-auto"
				>
					<Image src={TablesImg} alt="Tables du restaurant" class="w-full h-full object-cover" />
				</motion.div>
				<motion.div
					client:load
					initial={{ opacity: 0, x: -50 }}
					animate={{ opacity: 1, x: 0 }}
					transition={{ duration: 0.5, delay: 0.2 }}
					client:load
					className="w-full md:w-[90%] h-72 md:mr-auto"
				>
					<Image src={Tables2Img} alt="Comptoir du restaurant" class="w-full h-full object-cover" />
				</motion.div>
			</div>
		</div>
	</div>
</section>

<style>
	#concept {
		background-image: url("data:image/svg+xml,%3Csvg width='140' height='140' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b88d2c' fill-opacity='0.05'%3E%3Cpath d='M7 3.34a4.1 4.1 0 013.24-.13c.66.27 1.28.7 1.82 1.25.55-.53 1.16-.95 1.8-1.21A4.11 4.11 0 0117 3.34c1 .57 1.5 1.6 1.64 2.67.1.69.04 1.43-.14 2.17.75.19 1.43.51 2 .95C21.37 9.81 22 10.82 22 12c0 1.18-.62 2.18-1.49 2.86-.55.43-1.21.75-1.93.94.2.72.25 1.45.15 2.14-.15 1.1-.71 2.13-1.73 2.72a4.1 4.1 0 01-3.24.13 6.95 6.95 0 01-1.82-1.25c-.55.53-1.17.95-1.8 1.21a4.11 4.11 0 01-3.14-.09c-.99-.57-1.5-1.6-1.64-2.67-.1-.69-.04-1.43.14-2.17a6.89 6.89 0 01-2-.95C2.63 14.19 2 13.18 2 12c0-1.18.62-2.18 1.49-2.86.55-.43 1.21-.75 1.93-.94-.2-.72-.25-1.45-.15-2.14.15-1.1.71-2.13 1.73-2.72zm2.49 1.72c-.6-.24-1.11-.2-1.49.01-.37.22-.66.64-.75 1.27-.08.57.02 1.27.33 1.96l.11.23.75 1.41-1.6.06c-.87.03-1.61.32-2.11.71-.5.39-.73.86-.73 1.29 0 .43.23.9.73 1.29.46.36 1.13.62 1.9.69l1.5.04-.62 1.37c-.38.85-.5 1.67-.42 2.32.09.64.36 1.02.67 1.2.31.18.77.22 1.37-.03.54-.22 1.12-.66 1.63-1.3l.17-.22.88-1.22.79 1.28c.46.75 1.08 1.26 1.68 1.5.6.24 1.11.2 1.49-.01.37-.22.66-.64.75-1.27.08-.57-.02-1.27-.33-1.96l-.11-.23-.75-1.41 1.6-.06c.87-.03 1.61-.32 2.11-.71.5-.39.73-.86.73-1.29 0-.43-.23-.9-.73-1.29-.46-.36-1.13-.62-1.9-.69l-1.5-.04.62-1.37c.38-.85.5-1.67.42-2.32-.09-.64-.36-1.02-.67-1.2-.31-.18-.77-.22-1.37.03-.54.22-1.12.66-1.63 1.3l-.17.22-.88 1.22-.79-1.28c-.46-.75-1.08-1.26-1.68-1.5zM12 8c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3Cpath transform='translate(35,35)' d='M7 3.34a4.1 4.1 0 013.24-.13c.66.27 1.28.7 1.82 1.25.55-.53 1.16-.95 1.8-1.21A4.11 4.11 0 0117 3.34c1 .57 1.5 1.6 1.64 2.67.1.69.04 1.43-.14 2.17.75.19 1.43.51 2 .95C21.37 9.81 22 10.82 22 12c0 1.18-.62 2.18-1.49 2.86-.55.43-1.21.75-1.93.94.2.72.25 1.45.15 2.14-.15 1.1-.71 2.13-1.73 2.72a4.1 4.1 0 01-3.24.13 6.95 6.95 0 01-1.82-1.25c-.55.53-1.17.95-1.8 1.21a4.11 4.11 0 01-3.14-.09c-.99-.57-1.5-1.6-1.64-2.67-.1-.69-.04-1.43.14-2.17a6.89 6.89 0 01-2-.95C2.63 14.19 2 13.18 2 12c0-1.18.62-2.18 1.49-2.86.55-.43 1.21-.75 1.93-.94-.2-.72-.25-1.45-.15-2.14.15-1.1.71-2.13 1.73-2.72zm2.49 1.72c-.6-.24-1.11-.2-1.49.01-.37.22-.66.64-.75 1.27-.08.57.02 1.27.33 1.96l.11.23.75 1.41-1.6.06c-.87.03-1.61.32-2.11.71-.5.39-.73.86-.73 1.29 0 .43.23.9.73 1.29.46.36 1.13.62 1.9.69l1.5.04-.62 1.37c-.38.85-.5 1.67-.42 2.32.09.64.36 1.02.67 1.2.31.18.77.22 1.37-.03.54-.22 1.12-.66 1.63-1.3l.17-.22.88-1.22.79 1.28c.46.75 1.08 1.26 1.68 1.5.6.24 1.11.2 1.49-.01.37-.22.66-.64.75-1.27.08-.57-.02-1.27-.33-1.96l-.11-.23-.75-1.41 1.6-.06c.87-.03 1.61-.32 2.11-.71.5-.39.73-.86.73-1.29 0-.43-.23-.9-.73-1.29-.46-.36-1.13-.62-1.9-.69l-1.5-.04.62-1.37c.38-.85.5-1.67.42-2.32-.09-.64-.36-1.02-.67-1.2-.31-.18-.77-.22-1.37.03-.54.22-1.12.66-1.63 1.3l-.17.22-.88 1.22-.79-1.28c-.46-.75-1.08-1.26-1.68-1.5zM12 8c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3C/g%3E%3C/svg%3E");
	}
</style>
