---
import { Image } from "astro:assets";
import CuissonImg from "@/assets/images/cuisson.webp";
import Dessert2Img from "@/assets/images/dessert_2.webp";
import { motion } from "framer-motion";
---

<section class="py-10 px-4 md:py-16" id="service">
	<div class="container mx-auto max-w-6xl">
		<div class="grid gap-12 md:grid-cols-2 items-center">

			<!-- Text Content -->
			<div class="space-y-6">
				<div class="space-y-4">
					<div class="flex items-center gap-3">
						<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
						<span class="text-sm font-medium uppercase tracking-wider text-primary"> Notre Service </span>
					</div>
					<h2 class="text-3xl font-serif text-stone-800 leading-tight">
						Des menus variés et mémorables <br />
						dans votre assiette
					</h2>
				</div>
				<p class="text-lg text-stone-600 leading-relaxed">
					Les vendredis soirs, nous servons du street food fait maison selon un planning tournant :
				</p>

				<ul class="list-disc list-inside">
					<li class="text-md text-stone-600 leading-relaxed">1er vendredi du mois : Fish n' Chips</li>
					<li class="text-md text-stone-600 leading-relaxed">2ème vendredi du mois : Burger</li>
					<li class="text-md text-stone-600 leading-relaxed">3ème vendredi du mois : Moules/frites (août-janvier)</li>
					<li class="text-md text-stone-600 leading-relaxed">4ème vendredi du mois : Paella (février-juillet)</li>
					<li class="text-md text-stone-600 leading-relaxed">5ème vendredi du mois : Curry (nous varions entre les différentes cuisines asiatiques)</li>
				</ul>

				<p class="text-lg text-stone-600 leading-relaxed">
					Environ une fois par mois, nous organisons les <span class="font-bold">« Samedis sauvages »</span>,
					au cours desquels nous servons un menu dégustation mettant l'accent sur les produits sauvages. Les
					Samedi sauvages sont annoncés ici (lien « AGENDA »).

					<br />
					<br />
					<span class="font-bold"
						>Afin de répondre au mieux aux demandes particulières et aux allergies, nous vous serions très
						reconnaissants de nous appeler à l'avance pour nous en informer.</span
					>
				</p>
				<div class="flex flex-col gap-4 text-stone-700">
					<div class="flex items-center gap-3">
						<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
						<span>Menu végétarien possible sur demande</span>
					</div>
				</div>
			</div>

						<!-- Image Grid -->
						<div class="grid grid-cols-2 gap-8">
							<motion.div
								client:load
								initial={{ opacity: 0, y: 50 }}
								animate={{ opacity: 1, y: 0 }}
								transition={{ duration: 0.5 }}
								className="aspect-square md:aspect-[8/10] overflow-hidden md:translate-y-20"
							>
								<Image src={CuissonImg} loading="eager" fetchpriority="high" alt="Cuisson d'un aliment" class="w-full h-full object-cover" />
							</motion.div>
							<motion.div
							client:load
								initial={{ opacity: 0, y: -50 }}
								animate={{ opacity: 1, y: 0 }}
								transition={{ duration: 0.5, delay: 0.2 }}
								className="aspect-square md:aspect-[8/10] overflow-hidden"
							>
								<Image src={Dessert2Img} loading="eager" fetchpriority="high" alt="Dessert avec chantilly" class="w-full h-full object-cover" />
							</motion.div>
						</div>
		</div>
	</div>
</section>

<style>
	#service {
		background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b88d2c' fill-opacity='0.05'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
</style>