---
import { Image } from "astro:assets";
import PlanteImg from "@/assets/images/plante.webp";
import PlateImg from "@/assets/images/plat.webp";
import { motion } from "framer-motion";
---

<section class="bg-stone-50 py-10 px-4 md:pt-4 md:pb-28">
	<div class="container mx-auto max-w-6xl">
		<div class="grid gap-12 md:grid-cols-2 items-center">
			<!-- Image Grid -->
			<div class="grid grid-cols-2 gap-8">
				<motion.div
					client:load
					initial={{ opacity: 0, y: 50 }}
					animate={{ opacity: 1, y: 0 }}
					transition={{ duration: 0.5 }}
					className="aspect-square md:aspect-[8/10] overflow-hidden md:translate-y-20"
				>
					<Image src={PlanteImg} alt="Légumes frais de saison" class="w-full h-full object-cover" />
				</motion.div>
				<motion.div
					client:load
					initial={{ opacity: 0, y: -50 }}
					animate={{ opacity: 1, y: 0 }}
					transition={{ duration: 0.5, delay: 0.2 }}
					client:load
					className="aspect-square md:aspect-[8/10] overflow-hidden"
				>
					<Image src={PlateImg} alt="Plat signature du chef" class="w-full h-full object-cover" />
				</motion.div>
			</div>
			<!-- Text Content -->
			<div class="space-y-6">
				<div class="space-y-4">
					<div class="flex items-center gap-3">
						<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
						<span class="text-sm font-medium uppercase tracking-wider text-primary"> Notre Restaurant </span>
					</div>
					<h2 class="text-3xl font-serif text-stone-800 leading-tight">
						Une recherche de proximité et de convivialité
					</h2>
				</div>
				<p class="text-lg text-stone-600 leading-relaxed">
					Mauvaise Herbe a ouvert ses portes au printemps 2024 dans le village du Verdier, en pleine campagne
					tarnaise. Notre cuisine est caractérisée par la créativité, les produits du terroir et les plantes
					sauvages. Nous servons le déjeuner tous les jours du mardi au samedi, et le dîner le vendredi et le
					samedi soir. Nous proposons un menu du jour unique tous les midis et le samedi soir. Le vendredi
					soir, nos cuisiniers préparent de délicieux street food pour toute la famille. En semaine, le bar
					est ouvert le soir avec diverses activités culturelles pour tous les âges.
					<br />
					<br />
					Nous souhaitons être un lieu de rencontre pour les occasions quotidiennes et festives.
					<br>
					<br />
					Soyez les bienvenus au restaurant Mauvaise Herbe !
				</p>
				<div class="flex flex-col gap-4 text-stone-700">
					<div class="flex items-center gap-3">
						<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
						<span>Activités culturelles régulières</span>
					</div>
					<div class="flex items-center gap-3">
						<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
						<span>Un lieu de rencontre et de partage</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
