---
import BurgerImg from "@/assets/images/burger.webp";
import FishImg from "@/assets/images/fish.webp";
import SteakImg from "@/assets/images/steak.webp";
import WineWallImg from "@/assets/images/wine_wall.webp";
import { Image } from "astro:assets";
import { motion } from "framer-motion";
---

<section class="py-10 px-4 md:py-16" id="service" aria-labelledby="service-title">
	<div class="container mx-auto max-w-6xl">
		<div class="grid gap-12 md:grid-cols-2 items-center">
			<!-- Text Content -->
			<div class="space-y-6">
				<div class="space-y-4">
					<div class="flex items-center gap-3">
						<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
						<span class="text-lg font-medium uppercase tracking-wider text-primary"> Nos formules </span>
					</div>
					<h2 id="personnel-title" class="text-xl font-serif text-stone-800 leading-tight">Les menus</h2>
				</div>

				<ul class="list-disc list-inside -mt-5">
					<li class="text-md text-stone-600 leading-relaxed">Menu du jour en semaine, midi : 19.50 €, soir : 25 €</li>
					<li class="text-md text-stone-600 leading-relaxed">Vendredi soir : 25 ou 30 €  (plat 15 ou 20 €)</li>
					<li class="text-md text-stone-600 leading-relaxed">Menu du samedi, midi et soir : 30 €</li>
					<li class="text-md text-stone-600 leading-relaxed">Samedi sauvage, midi et soir : 45 €</li>
				</ul>

				<p class="pl-6 -mt-3 text-base text-stone-600 leading-relaxed">Fromages + 7 €</p>
			</div>

			<div class="flex flex-col gap-10">
				<motion.div
					client:load
					initial={{ opacity: 0, x: 50 }}
					animate={{ opacity: 1, x: 0 }}
					transition={{ duration: 0.7 }}
					className="w-full md:w-[95%] h-72 md:mr-auto md:-translate-x-15 only-desktop-animation"
				>
					<Image src={FishImg} alt="Plat poisson du restaurant" class="w-full h-full object-cover object-bottom" />
				</motion.div>
			</div>
		</div>
	</div>

	<div class="container mx-auto max-w-6xl mt-10 flex gap-4 flex-col md:flex-row">
		<div class="flex-1">
			<h3 class="text-xl font-serif text-stone-800 leading-tight mb-1">Le vendredi</h3>

			<p class="text-stone-600 leading-relaxed mb-4">
				Tous les vendredis midi chez Mauvaise Herbe, la pêche du jour en plat principal !
			</p>

			<p class="text-stone-600 leading-relaxed">Les vendredis soir, nous servons des mets populaires :</p>

			<ul class="list-disc list-inside">
				<li class="text-md text-stone-600 leading-relaxed">1er vendredi du mois : Fish n' Chips</li>
				<li class="text-md text-stone-600 leading-relaxed">2ème : Burger</li>
				<li class="text-md text-stone-600 leading-relaxed">
					3ème : Moules/frites (août-janvier), Paella (février-juillet)
				</li>
				<li class="text-md text-stone-600 leading-relaxed">
					4ème : Curry (variation entre les cuisines asiatiques)
				</li>
				<li class="text-md text-stone-600 leading-relaxed">5ème vendredi : Sushi</li>
			</ul>
		</div>
		<div class="flex-1">
			<h3 class="text-xl font-serif text-stone-800 leading-tight mb-1">Samedi sauvage</h3>
			<p class="text-md text-stone-600 leading-relaxed">
			Quelques fois par ans, nous organisons les « Samedis sauvages », au cours desquels nous servons un menu dégustation mettant l'accent sur les produits sauvages. Les Samedis sauvages seront annoncés
 <a
					href="/agenda"
					class="text-primary underline underline-offset-3 mr-1"
					title="Lien vers la page agenda">sur la page Agenda</a
				>.
			</p>
			<div class="h-1 w-12 bg-primary mt-8" aria-hidden="true"></div>
		</div>
	</div>

	<div		class="flex flex-col md:flex-row items-center justify-between gap-10 container mx-auto max-w-6xl mt-14"
	>
		<Image
			src={WineWallImg}
			alt="Photo restaurant"
			width={700}
			height={700}
			class="w-full max-h-[28rem] md:w-80 md:h-96 object-cover object-bottom"
		/>
		<Image
			src={BurgerImg}
			alt="Photo burger"
			width={700}
			height={700}
			class="w-full max-h-[28rem] md:w-80 md:h-96 object-cover object-bottom"
		/>
		<Image
			src={SteakImg}
			alt="Photo steak"
			width={700}
			height={700}
			class="w-full max-h-[28rem] md:w-80 md:h-96 object-cover object-bottom"

		/>
	</div>
</section>
