---
import { Image } from "astro:assets";
import CuissonImg from "@/assets/images/cuisson.webp";
import Dessert2Img from "@/assets/images/dessert_2.webp";
import { motion } from "framer-motion";
---

<section class="py-10 px-4 md:py-16" id="service">
	<div class="container mx-auto max-w-6xl">
		<div class="grid gap-12 md:grid-cols-2 items-center">

			<!-- Text Content -->
			<div class="space-y-6">
				<div class="space-y-4">
					<div class="flex items-center gap-3">
						<div class="h-0.5 w-8 bg-primary" aria-hidden="true"></div>
						<span class="text-sm font-medium uppercase tracking-wider text-primary"> Notre Service </span>
					</div>
					<h2 class="text-3xl font-serif text-stone-800 leading-tight">
						Des menus variés et mémorables <br />
						dans votre assiette
					</h2>
				</div>
				<p class="text-lg text-stone-600 leading-relaxed">
					Les vendredis soirs, nous servons du street food fait maison selon un planning tournant :
				</p>

				<ul class="list-disc list-inside">
					<li class="text-md text-stone-600 leading-relaxed">1er vendredi du mois : Fish n' Chips</li>
					<li class="text-md text-stone-600 leading-relaxed">2ème vendredi du mois : Burger</li>
					<li class="text-md text-stone-600 leading-relaxed">3ème vendredi du mois : Moules/frites (août-janvier)</li>
					<li class="text-md text-stone-600 leading-relaxed">4ème vendredi du mois : Paella (février-juillet)</li>
					<li class="text-md text-stone-600 leading-relaxed">5ème vendredi du mois : Curry (nous varions entre les différentes cuisines asiatiques)</li>
				</ul>

				<p class="text-lg text-stone-600 leading-relaxed">
					Environ une fois par mois, nous organisons les <span class="font-bold">« Samedis sauvages »</span>,
					au cours desquels nous servons un menu dégustation mettant l'accent sur les produits sauvages. Les
					Samedi sauvages sont annoncés ici (lien « AGENDA »).

					<br />
					<br />
					<span class="font-bold"
						>Afin de répondre au mieux aux demandes particulières et aux allergies, nous vous serions très
						reconnaissants de nous appeler à l'avance pour nous en informer.</span
					>
				</p>
				<div class="flex flex-col gap-4 text-stone-700">
					<div class="flex items-center gap-3">
						<div class="h-1 w-12 bg-primary" aria-hidden="true"></div>
						<span>Menu végétarien possible sur demande</span>
					</div>
				</div>
			</div>

						<!-- Image Grid -->
						<div class="grid grid-cols-2 gap-8">
							<motion.div
								client:load
								initial={{ opacity: 0, y: 50 }}
								animate={{ opacity: 1, y: 0 }}
								transition={{ duration: 0.5 }}
								className="aspect-square md:aspect-[8/10] overflow-hidden md:translate-y-20"
							>
								<Image src={CuissonImg} loading="eager" fetchpriority="high" alt="Cuisson d'un aliment" class="w-full h-full object-cover" />
							</motion.div>
							<motion.div
							client:load
								initial={{ opacity: 0, y: -50 }}
								animate={{ opacity: 1, y: 0 }}
								transition={{ duration: 0.5, delay: 0.2 }}
								className="aspect-square md:aspect-[8/10] overflow-hidden"
							>
								<Image src={Dessert2Img} loading="eager" fetchpriority="high" alt="Dessert avec chantilly" class="w-full h-full object-cover" />
							</motion.div>
						</div>
		</div>
	</div>
</section>

<style>
	#service {
		background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' opacity='0.9' viewBox='0 0 35 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 3.34a4.1 4.1 0 013.24-.13c.66.27 1.28.7 1.82 1.25.55-.53 1.16-.95 1.8-1.21A4.11 4.11 0 0117 3.34c1 .57 1.5 1.6 1.64 2.67.1.69.04 1.43-.14 2.17.75.19 1.43.51 2 .95C21.37 9.81 22 10.82 22 12c0 1.18-.62 2.18-1.49 2.86-.55.43-1.21.75-1.93.94.2.72.25 1.45.15 2.14-.15 1.1-.71 2.13-1.73 2.72a4.1 4.1 0 01-3.24.13 6.95 6.95 0 01-1.82-1.25c-.55.53-1.17.95-1.8 1.21a4.11 4.11 0 01-3.14-.09c-.99-.57-1.5-1.6-1.64-2.67-.1-.69-.04-1.43.14-2.17a6.89 6.89 0 01-2-.95C2.63 14.19 2 13.18 2 12c0-1.18.62-2.18 1.49-2.86.55-.43 1.21-.75 1.93-.94-.2-.72-.25-1.45-.15-2.14.15-1.1.71-2.13 1.73-2.72zm2.49 1.72c-.6-.24-1.11-.2-1.49.01-.37.22-.66.64-.75 1.27-.08.57.02 1.27.33 1.96l.11.23.75 1.41-1.6.06c-.87.03-1.61.32-2.11.71-.5.39-.73.86-.73 1.29 0 .43.23.9.73 1.29.46.36 1.13.62 1.9.69l1.5.04-.62 1.37c-.38.85-.5 1.67-.42 2.32.09.64.36 1.02.67 1.2.31.18.77.22 1.37-.03.54-.22 1.12-.66 1.63-1.3l.17-.22.88-1.22.79 1.28c.46.75 1.08 1.26 1.68 1.5.6.24 1.11.2 1.49-.01.37-.22.66-.64.75-1.27.08-.57-.02-1.27-.33-1.96l-.11-.23-.75-1.41 1.6-.06c.87-.03 1.61-.32 2.11-.71.5-.39.73-.86.73-1.29 0-.43-.23-.9-.73-1.29-.46-.36-1.13-.62-1.9-.69l-1.5-.04.62-1.37c.38-.85.5-1.67.42-2.32-.09-.64-.36-1.02-.67-1.2-.31-.18-.77-.22-1.37.03-.54.22-1.12.66-1.63 1.3l-.17.22-.88 1.22-.79-1.28c-.46-.75-1.08-1.26-1.68-1.5zM12 8c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z' fill='%23b88d2c' fill-opacity='0.03'/%3E%3C/svg%3E");
	}
</style>