---
import "@/styles/app.css";
import { ClientRouter } from "astro:transitions";
import Header from "./header.astro";
import Footer from "./footer.astro";
import MobileMenuScript from "@/components/mobile-menu-script.astro";
import { AstroFont } from "astro-font";
import { join } from "node:path";

interface Props {
	title: string;
	lang?: "fr" | "en";
	overflow?: boolean;
	header?: boolean;
	footer?: boolean;
	media?: boolean;
}

const { overflow, title, lang = "fr", header = true, footer = true, media = false }: Props = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<AstroFont
			config={[
				{
					name: "Wotfard",
					src: [
						{
							style: "normal",
							weight: "400",
							path: join(process.cwd(), "public", "fonts", "wotfard", "wotfard-regular.woff2"),
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Le restaurant Mauvaise Herbe est situé dans le Tarn, plus précisement dans le village du Verdier. Une cuisine créative mettant en valeur les produits du terroir et la gastronomie locale. Restaurant, bar et cave à vins naturels. Nous proposons une cuisine de saison avec au maximum des produits de région. Notre cave est remplie de vins naturels et biologiques sélectionnés avec soin. Venez découvrir notre ambiance chaleureuse et conviviale au cœur de la campagne tarnaise."
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="preload"
			href="/fonts/wotfard/wotfard-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<slot name="head-preload" />
		<title>Mauvaise Herbe | {title}</title>
		<ClientRouter />
		<style>
			html {
				scrollbar-width: thin;
				scrollbar-color: #888 #f1f1f1;
			}
		</style>
	</head>
	<body
		class:list={[
			"h-dvh",
			!overflow && !media && "overflow-hidden",
			media && "overflow-auto md:overflow-hidden",
		]}
	>
		{header && <Header />}
		<slot />
		{footer && <Footer />}
		<MobileMenuScript />
	</body>
</html>
